

.card {
    position: relative;
    overflow: hidden;
    background-size:cover ;
  }

  .carousel-item img {
    height: 400px; 
    object-fit: cover; 
    width: 100%;
}

.custom-bg {
    background-color: #FFE3BB;
}